@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 3px;
  background: #E5E5E5;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4FBFB3;
  cursor: pointer;
  border: 3px solid #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

input[type=number],
input[type=text] {
  outline: none;
}

input[type=number]:focus,
input[type=text]:focus {
  border-color: #4FBFB3 !important;
}
